@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tus estilos personalizados */
.glass-container {
    position: relative;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.input-group {
    position: relative;
    margin-bottom: 2rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.7s;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.7s;
    pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    left: 0.75rem;
    font-size: 0.75rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
